* {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: aqua;
}

/* Navigation bar styles */
.topic {
  background-color: #333;
  overflow: hidden;
  padding: 10px 20px;
}
.topic a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 14px 20px;
}
.topic a:hover {
  background-color: #575757;
}
h1 {
  background-color: brown;
  padding: 12px;
}
a.form {
  text-align: center;
}
a.button {
  display: inline-block;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
}

.submitButton {
  display: flex;
  justify-content: center;
}
